* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: calc(100vh - 80px);
  background-color: #1e2d3b;
}

header {
  position: absolute;
  height: 80px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
}

header .logo {
  color: red;
  font-size: 50px;
  padding-top: 10px;
  padding-left: 20px;
}

.right_header {
  padding-right: 30px;
  padding-top: 25px;
}

.right_header input[type="text"] {
  padding: 5px 10px;
}

.right_header button {
  font-size: 15px;
  background-color: #1e2d3b;
  margin-left: 10px;
  color: red;
}

.container {
  height: 100%;
  background-color: #1e2d3b;
}

.app {
  display: flex;
  align-items: space-between;
}

.small-containers {
  margin: 50px;
  background-color: #2e3a46;
  height: 300px;
  width: 20%;
  border: 1px solid black;
}

.pre-containers {
  width: calc(100% - 200px);
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.small-containers img {
  height: 150px;
}

.small-containers p img {
  height: 20px;
}
