* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: calc(100vh - 80px);
  background-color: #1e2d3b;
}

header {
  position: absolute;
  height: 80px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
}

header .logo {
  color: red;
  font-size: 50px;
  padding-top: 10px;
  padding-left: 20px;
}

.right_header {
  padding-right: 30px;
  padding-top: 25px;
}

.right_header input[type="text"] {
  padding: 5px 10px;
}

.right_header button {
  font-size: 15px;
  background-color: #1e2d3b;
  margin-left: 10px;
  color: red;
}

.container {
  height: 100%;
  background-color: #1e2d3b;
}

.app {
  display: flex;
  align-items: space-between;
}

.categories {
  height: 30px;
  width: 100%;
  margin-top: 80px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  color: white;
}

.categories :first-child {
  padding-top: 10px;
  padding-left: 270px;
}

.categories :nth-child(2) {
  padding-top: 10px;
  padding-right: 260px;
}

section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.pre-containers {
  width: 45%;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.small-containers {
  margin: 40px;
  background-color: #2e3a46;
  height: 300px;
  width: 200px;
  border: 1px solid black;
  overflow: hidden;
}

.small-containers:hover {
  background: black;
  height: 300px;
  width: 200px;
}

.info {
  opacity: 0;
  overflow: hidden;
  padding: 0 10px;
  line-height: 1.2;
}

.info:hover {
  opacity: 1;

  color: white;
  overflow: auto;
  height: 250px;
  width: 200px;
  cursor: pointer;
}

.small-containers img {
  height: 300px;
}

.small-containers:hover > img {
  height: 0;
  cursor: pointer;
}

.small-containers p img {
  height: 20px;
}
