<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <link rel="stylesheet" href="css/style.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" -->
          <!-- integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
          crossorigin="anonymous"></script> -->
  <title>Boolfix</title>
</head>

<body>
    <div class="container">
        <div id="app" class="app" >
            <header>
                <div class="logo">BOOLFIX</div>
                <div class="right_header">
                    <input v-model='search' placeholder="Cerca un film o una serie TV" @keyup.enter="searchMovie(); searchSerie()" type="text">

                    <button @click="searchMovie(); searchSerie()">
                    Cerca
                    </button>
                </div>
            </header>
            <div class="categories">
                <h1>MOVIES</h1>
                <h1>TV SERIES</h1>
            </div>
              <!-- movies -->
            <section>
                <div class="pre-containers">

                        <div v-for='(movie, index) in movies'
                        class="small-containers">
                            <img :src="movie.poster_path" alt="poster film">
                            <div class="info">
                                <p>Titolo: {{movie.title}}</p>
                                <p>Titolo originale: {{movie.original_title}}</p>
                                <p>Lingua: <img :src="
                                    'img/' + movie.original_language + '.png'
                                "></p>
                                <div>Voto: 
                                    <i v-for='star in movie.vote_average'  class="fas fa-star" alt="movie.vote_average">
                                    </i><i v-for='star in (5 - movie.vote_average)' class="far fa-star"></i></div>
                            
                            </div>
                        </div>
                </div>

                            <!-- tv series -->
                            <div class="pre-containers">

                                <div v-for='(serie, index) in series'
                                class="small-containers">
                                    <img :src="serie.poster_path" alt="poster serie">
                                    <div class="">
                                        <p>Titolo: {{serie.title}}</p>
                                        <p>Titolo originale: {{serie.original_title}}</p>
                                        <p>Lingua: <img :src="'img/' + serie.original_language + '.png'" alt=""></p>
                                        <div>Voto: <i v-for='star in series[index].vote_average'  class="fas fa-star" alt="series[index].vote_average">
                                        </i><i v-for='star in (5 - series[index].vote_average)' class="far fa-star"></i></div>
                                    
                                    </div>
                                </div>
                        </div>
             </section>


        </div>
    </div>



<script src="js/script.js"></script>
</body>

</html>
